body {
    font-family: sans-serif;
    background-image: url("http://mut.ru/twigif/gifs/20121222_101649_511.gif");
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: center; 
    background-color: white;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
    color: black;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

  .external{
            max-width: 700px;
            margin: 0 auto;
            color: #b7122f;
            padding-top: 100;
            padding-left: 10;
            padding-right: 10;
        }

            