body {
    font-family: sans-serif;
    background-image: url("http://mut.ru/twigif/gifs/20121222_101649_511.gif");
    background-size: 1080px 1920px;
    background-repeat: no-repeat;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
    color: white;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

